$color-grey: #d3d6da;

#prompt-image-container {
	text-align: center;
	> span {
		font-size: 0.8em;
		font-style: italic;
	}
}

#prompt-form-container {
	text-align: center;
	margin: 32px auto 12px auto;
	width: 85%;
	font-size: 1.45em;
	line-height: 52px;
}

.letter-field {
	width: 35px;
	height: 35px;
	padding: 5px;
	border: 2px solid $color-grey;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	line-height: 1;
	font-weight: bold;
	vertical-align: middle;
	box-sizing: border-box;
	text-transform: uppercase;
	text-align: center;
	&:focus{
		outline: none;
		border: 2px solid #97999c;
	}
}