$color-grey: #d3d6da;

#prompt-image-container {
	text-align: center;
	> span {
		font-size: 0.8em;
		font-style: italic;
	}
}

#prompt-form-container {
	text-align: center;
	margin: auto;
	width: 85%;
	font-size: 28px;
	line-height: 52px;
}

.letter-field {
	width: 35px;
	height: 35px;
	padding: 5px;
	border: 2px solid $color-grey;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	line-height: 1;
	font-weight: bold;
	vertical-align: middle;
	box-sizing: border-box;
	text-transform: uppercase;
	text-align: center;
	&:focus{
		outline: none;
		border: 2px solid #97999c;
	}
}

.true {
	background-color: #86efac;
	border: 2px solid #86efac;
	color: #15803d;
	cursor: inherit;
	&:focus{
		border: 2px solid #86efac;
	}
}

.false {
	background-color: #fda4af;
	border: 2px solid #9f1239;
	color: #9f1239;
	cursor: normal;
	&:focus{
		border: 2px solid #9f1239;
	}
}

#timer, #timer-over {
	padding: 42px 0 24px 0;
	font-size: 28px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}